#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
datacenter:
  name: "{{ datacenter_name }}"
  clusters:
  - name: "{{ vio_cluster_mgmt }}"
    hosts:
{%- for host in mgmt_hosts %}
    - name: "{{ host.name }}"
      ip: "{{ host.ip }}"
      mac: "{{ host.mac }}"
      username: "{{ host.username }}"
      password: "{{ host.password }}"
{%- endfor %}
  - name: "{{ vio_cluster_edge }}"
    hosts:
{%- for host in edge_hosts %}
    - name: "{{ host.name }}"
      ip: "{{ host.ip }}"
      mac: "{{ host.mac }}"
      username: "{{ host.username }}"
      password: "{{ host.password }}"
{%- endfor %}
  - name: "{{ vio_cluster_compute }}"
    hosts:
{%- for host in compute_hosts %}
    - name: "{{ host.name }}"
      ip: "{{ host.ip }}"
      mac: "{{ host.mac }}"
      username: "{{ host.username }}"
      password: "{{ host.password }}"
{%- endfor %}
  vds:
    name: "{{ vds_name }}"
    portgroups:
      api:
      - name: "{{ api_grp }}"
        servicetype:
        cider:
      management:
      - name: "{{ mgmt_grp }}"
        servicetype: 'management'
        cider:
      storage:
      - name: "{{ store_grp }}"
        servicetype:
        cider: "{{ strg_cider }}"
      vmotion:
      - name: "{{ vmotion_grp }}"
        servicetype: 'vmotion'
        cider: "{{ vmo_cider }}"
      external:
      - name: "{{ ext_grp }}"
        servicetype:
        cider:

esxhost:
  name: "{{ host_ip_name }}"
  user: "{{ host_username }}"
  password: "{{ host_password }}"
  cluster: "{{ addhost_cluster }}"

#### VDS settings
# Sample VDS list:
# vcenter_vdss:
#   - { name: 'testVDS', uplinks: 4, ports: 16, nioc: 'True', productVersion: '6.0.0' }
vcenter_vdss:
    - { name: "{{ vds_name }}", uplinks: "{{ uplinks }}", ports: "{{ sw_ports }}" , nioc: 'True', productVersion: "{{ productVersion }}" }

# Sample Portgroup list
# vcenter_portgroups:
#   - { vds_name: 'testVDS', name: 'test_portgroup', port_binding: "{{ port_binding }}", ports: "{{ ports }}" }
vcenter_portgroups:
    - { vds_name: "{{ vds_name }}", name: "{{ api_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}", vlan: "{{ api_vlan }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ ext_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}", vlan: "{{ ext_vlan }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ mgmt_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}", vlan: "{{ mgmt_vlan }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ store_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}", vlan: "{{ store_vlan }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ vmotion_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}", vlan: "{{ vmotion_vlan }}" }
