---
datacenter:
  name: "{{ datacenter_name }}"
  clusters:
  - name: "{{ vio_cluster_mgmt }}"
    hosts:
{% for host in mgmt_hosts %}
    - name: "{{ host.name }}"
      ip: "{{ host.ip }}"
      mac: "{{ host.mac }}"
{% endfor %}
  - name: "{{ vio_cluster_edge }}"
    hosts:
{% for host in edge_hosts %}
    - name: "{{ host.name }}"
      ip: "{{ host.ip }}"
      mac: "{{ host.mac }}"
{% endfor %}
  - name: "{{ vio_cluster_compute }}"
    hosts:
{% for host in compute_hosts %}
    - name: "{{ host.name }}"
      ip: "{{ host.ip }}"
      mac: "{{ host.mac }}"
{% endfor %}

#### VDS settings
# Sample VDS list:
# vcenter_vdss:
#   - { name: 'testVDS', uplinks: 4, ports: 16, nioc: 'True', productVersion: '6.0.0' }
vcenter_vdss:
    - { name: "{{ vds_name }}", uplinks: "{{ uplinks }}", ports: "{{ sw_ports }}" , nioc: 'True', productVersion: "{{ productVersion }}" }

# Sample Portgroup list
# vcenter_portgroups:
#   - { vds_name: 'testVDS', name: 'test_portgroup', port_binding: "{{ port_binding }}", ports: "{{ ports }}" }
vcenter_portgroups:
    - { vds_name: "{{ vds_name }}", name: "{{ api_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ ext_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ mgmt_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ store_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}" }
    - { vds_name: "{{ vds_name }}", name: "{{ vmotion_grp }}", port_binding: "{{ port_binding }}", ports: "{{ ports }}" }
 
