#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
# ---> This template is used by the prepare-variable.py script <---
---
oob_vcenter:
  datacenter_name: "{{ oob_vcenter_datacenter_name }}"
  clusters:
    - name: "{{ oob_vcenter_mgmt_esx_cluster_name }}"
      vsan: False
      hosts:
{% for host in oob_mgmt_hosts %}
        - name: "{{ host.name }}"
          mac: "{{ host.mac }}"
          username: "{{ host.username }}"
          password: "{{ host.password }}"
        # Mgmt/DCUI port
          mgmt_ip: "{{ host.mgmt_ip }}"
          mgmt_netmask: "{{ host.mgmt_netmask }}"
          mgmt_service_type: "management"
        # vMotion
          vmotion_ip: "{{ host.vmotion_ip }}"
          vmotion_netmask: "{{ host.vmotion_netmask }}"
          vmotion_service_type: "vmotion"
{% if storage_scheme == 'NFS' or storage_scheme == "iSCSI" %}
        # Storage
          storage_ip: "{{ host.storage_ip }}"
          storage_netmask: "{{ host.storage_netmask }}"
          storage_service_type:
{% endif %}
{% endfor %}
  dvs:
    - name: "{{ oob_vcenter_net_vds_name }}"
      uplinks: "{{ oob_vcenter_net_vds_uplinks }}"
      ports: "{{ oob_vcenter_net_vds_ports }}"
      nioc: "{{ oob_vcenter_net_vds_nioc }}"
      productVersion: "{{ oob_vcenter_net_vds_version }}"
      portgroups:
        # Management - DCUI
        - name: "{{ oob_vcenter_net_mgmt_pg_name }}"
          port_binding: "{{ oob_vcenter_net_mgmt_pg_port_binding }}"
          ports: "{{ oob_vcenter_net_mgmt_pg_ports }}"
          vlan: "{{ oob_vcenter_net_mgmt_pg_vlan_id }}"
          port_allocation: "{{ oob_vcenter_net_mgmt_pg_port_allocation }}"
        # vMotion
        - name: "{{ oob_vcenter_net_vmotion_pg_name }}"
          port_binding: "{{ oob_vcenter_net_vmotion_pg_port_binding }}"
          ports: "{{ oob_vcenter_net_vmotion_pg_ports }}"
          vlan: "{{ oob_vcenter_net_vmotion_pg_vlan_id }}"
          port_allocation: "{{ oob_vcenter_net_vmotion_pg_port_allocation }}"
{% if storage_scheme == 'NFS' or storage_scheme == 'iSCSI' %}
        # IP Storage
        - name: "{{ oob_vcenter_net_storage_pg_name }}"
          port_binding: "{{ oob_vcenter_net_storage_pg_port_binding }}"
          ports: "{{ oob_vcenter_net_storage_pg_ports }}"
          vlan: "{{ oob_vcenter_net_storage_pg_vlan_id }}"
          port_allocation: "{{ oob_vcenter_net_storage_pg_port_allocation }}"
{% endif %}
{% if deploy_nsx == '1' or deploy_vra == '1' or deploy_vcenter == '1' or deploy_vrb == '1' or deploy_vrli == '1' or deploy_vrops == '1' %}
        # VM Network
        - name: "{{ ib_vcenter_net_vm_pg_name }}"
          vlan: "{{ ib_vcenter_net_vm_pg_vlan_id }}"
          port_binding: "{{ ib_vcenter_net_vm_pg_port_binding }}"
          ports: "{{ ib_vcenter_net_vm_pg_ports }}"
          port_allocation: "{{ ib_vcenter_net_vm_pg_port_allocation }}"
{% endif %}

ib_vcenter:
  datacenter_name: "{{ ib_vcenter_datacenter_name }}"
  clusters:
      - name: "{{ ib_vcenter_mgmt_esx_cluster_name }}"
        vsan: False
        hosts:
{% for host in ib_mgmt_hosts %}
          - name: "{{ host.name }}"
            mac: "{{ host.mac }}"
            username: "{{ host.username }}"
            password: "{{ host.password }}"
          # Mgmt/DCUI port
            mgmt_ip: "{{ host.mgmt_ip }}"
            mgmt_netmask: "{{ host.mgmt_netmask }}"
            mgmt_service_type: "management"
          # vMotion
            vmotion_ip: "{{ host.vmotion_ip }}"
            vmotion_netmask: "{{ host.vmotion_netmask }}"
            vmotion_service_type: "vmotion"
{% if storage_scheme == 'NFS' or storage_scheme == "iSCSI" %}
          # Storage
            storage_ip: "{{ host.storage_ip }}"
            storage_netmask: "{{ host.storage_netmask }}"
            storage_service_type:
{% endif %}
{% endfor %}
{% if deploy_nsx == '1' %}
      - name: "{{ ib_vcenter_nsxedge_esx_cluster_name }}"
        vsan: False
        hosts:
{% for host in edge_hosts %}
          - name: "{{ host.name }}"
            mac: "{{ host.mac }}"
            username: "{{ host.username }}"
            password: "{{ host.password }}"
          # Mgmt/DCUI port
            mgmt_ip: "{{ host.mgmt_ip }}"
            mgmt_netmask: "{{ host.mgmt_netmask }}"
            mgmt_service_type: "management"
          # vMotion
            vmotion_ip: "{{ host.vmotion_ip }}"
            vmotion_netmask: "{{ host.vmotion_netmask }}"
            vmotion_service_type: "vmotion"
{% if storage_scheme == 'NFS' or storage_scheme == "iSCSI" %}
          # Storage
            storage_ip: "{{ host.storage_ip }}"
            storage_netmask: "{{ host.storage_netmask }}"
            storage_service_type:
{% endif %}
{% endfor %}
{% endif %}
      - name: "{{ ib_vcenter_compute_esx_cluster_name }}"
        vsan: False
        hosts:
{% for host in compute_hosts %}
          - name: "{{ host.name }}"
            mac: "{{ host.mac }}"
            username: "{{ host.username }}"
            password: "{{ host.password }}"
          # Mgmt/DCUI port
            mgmt_ip: "{{ host.mgmt_ip }}"
            mgmt_netmask: "{{ host.mgmt_netmask }}"
            mgmt_service_type: "management"
          # vMotion
            vmotion_ip: "{{ host.vmotion_ip }}"
            vmotion_netmask: "{{ host.vmotion_netmask }}"
            vmotion_service_type: "vmotion"
{% if storage_scheme == 'NFS' or storage_scheme == "iSCSI" %}
          # Storage
            storage_ip: "{{ host.storage_ip }}"
            storage_netmask: "{{ host.storage_netmask }}"
            storage_service_type:
{% endif %}
{% endfor %}
  dvs:
    - name: "{{ ib_vcenter_net_vds_name }}"
      uplinks: "{{ ib_vcenter_net_vds_uplinks }}"
      ports: "{{ ib_vcenter_net_vds_ports }}"
      nioc: "{{ ib_vcenter_net_vds_nioc }}"
      productVersion: "{{ ib_vcenter_net_vds_version }}"
      portgroups:
        # Management - DCUI
        - name: "{{ ib_vcenter_net_mgmt_pg_name }}"
          vlan: "{{ ib_vcenter_net_mgmt_pg_vlan_id }}"
          port_binding: "{{ ib_vcenter_net_mgmt_pg_port_binding }}"
          ports: "{{ ib_vcenter_net_mgmt_pg_ports }}"
          port_allocation: "{{ ib_vcenter_net_mgmt_pg_port_allocation }}"
{% if storage_scheme == 'NFS' or storage_scheme == 'iSCSI' %}
        # IP Storage
        - name: "{{ ib_vcenter_net_storage_pg_name }}"
          vlan: "{{ ib_vcenter_net_storage_pg_vlan_id }}"
          port_binding: "{{ ib_vcenter_net_storage_pg_port_binding }}"
          ports: "{{ ib_vcenter_net_storage_pg_ports }}"
          port_allocation: "{{ ib_vcenter_net_storage_pg_port_allocation }}"
{% endif %}
        # vMotion
        - name: "{{ ib_vcenter_net_vmotion_pg_name }}"
          vlan: "{{ ib_vcenter_net_vmotion_pg_vlan_id }}"
          port_binding: "{{ ib_vcenter_net_vmotion_pg_port_binding }}"
          ports: "{{ ib_vcenter_net_vmotion_pg_ports }}"
          port_allocation: "{{ ib_vcenter_net_vmotion_pg_port_allocation }}"
{% if deploy_vio == '1' %}
        # VIO API
        - name: "{{ ib_vcenter_net_vio_api_pg_name }}"
          vlan: "{{ ib_vcenter_net_vio_api_pg_vlan_id }}"
          port_binding: "{{ ib_vcenter_net_vio_api_pg_port_binding }}"
          ports: "{{ ib_vcenter_net_vio_api_pg_ports }}"
          port_allocation: "{{ ib_vcenter_net_vio_api_pg_port_allocation }}"
        # VIO External
        - name: "{{ ib_vcenter_net_vio_ext_pg_name }}"
          vlan: "{{ ib_vcenter_net_vio_ext_pg_vlan_id }}"
          port_binding: "{{ ib_vcenter_net_vio_ext_pg_port_binding }}"
          ports: "{{ ib_vcenter_net_vio_ext_pg_ports }}"
          port_allocation: "{{ ib_vcenter_net_vio_ext_pg_port_allocation }}"
{% endif %}
{% if deploy_nsx == '1' or deploy_vra == '1' or deploy_vcenter == '1' or deploy_vrb == '1' or deploy_vrli == '1' or deploy_vrops == '1' %}
        # VM Network
        - name: "{{ ib_vcenter_net_vm_pg_name }}"
          vlan: "{{ ib_vcenter_net_vm_pg_vlan_id }}"
          port_binding: "{{ ib_vcenter_net_vm_pg_port_binding }}"
          ports: "{{ ib_vcenter_net_vm_pg_ports }}"
          port_allocation: "{{ ib_vcenter_net_vm_pg_port_allocation }}"
{% endif %}
