#
# Copyright 2015 VMware, Inc.  All rights reserved.
# SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#
---
- name: Destroy Datacenter
  ignore_errors: no
  vcenter_datacenter:
{% if vcenter_type == 'oob' %}
    hostname: "{{ oob_vcenter_url }}"
    username: "{{ oob_vcenter_user_name }}"
    password: "{{ oob_vcenter_user_password }}"
    datacenter_name: "{{ oob_vcenter_datacenter_name }}"
{% endif %}
{% if vcenter_type == 'ib' %}
    hostname: "{{ ib_vcenter_url }}"
    username: "{{ ib_vcenter_user_name }}"
    password: "{{ ib_vcenter_user_password }}"
    datacenter_name: "{{ ib_vcenter_datacenter_name }}"
{% endif %}
    state: absent
