#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
- name: Destroy Datacenter
  ignore_errors: no
  vcenter_datacenter:
{% if vcenter_type == 'oob' %}
    hostname: "{{ oob_vcenter_url }}"
    username: "{{ oob_vcenter_user_name }}"
    password: "{{ oob_vcenter_user_password }}"
    datacenter_name: "{{ oob_vcenter_datacenter_name }}"
{% endif %}
{% if vcenter_type == 'ib' %}
    hostname: "{{ ib_vcenter_url }}"
    username: "{{ ib_vcenter_user_name }}"
    password: "{{ ib_vcenter_user_password }}"
    datacenter_name: "{{ ib_vcenter_datacenter_name }}"
{% endif %}
    state: absent
